* {
  margin: 0;
  padding: 0;
  /* font-family: Brush Script MT; */
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-color: whitesmoke;
  /* color: white; */
}

#header {
  width : 100%;
  height: 100vh;
  background-color: rgb(143, 203, 255);
  /* background-image: url(images/background.img); */
  /* background-size: cover; */
  /* background-position: center; */
}

#container {
  background-color: rgb(169, 94, 255);
  height: 100%;
}

/* Navigation*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 5%;
  background-color: whitesmoke;
}

#logo {
  background-color: rgb(255, 120, 120);
}

ul {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  background-color: blue;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 10px 20px;
  background-color: cadetblue;
}

nav ul li :hover {
  color: green;
}

nav ul li a {
  color: black;
  text-decoration: none;
}
/* /Navigation */

.header-text {
  margin: 10% 50px;
  padding: 50px;
  font-size: 30px;
  background-color: rgb(255, 150, 150);
}

.header-text p {
  background-color: coral;
}

.header-text h1 {
  margin-top: 20px;
  font-size: 60px;
  background-color: cyan;
}

.header-text h1 span {
  color: lightgreen;
}

/* About */
#about {
  padding: 80px 100px;
  height: 100vh;
  background-color: aquamarine;
}

#about #container {
  background-color: rgb(48, 36, 63);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  background-color: rgb(75, 75, 255);
}

.about-col-1 {
  flex-basis: 35%;
  height: 100%;
  background-color: cornflowerblue;
}

.about-col-1 img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.about-col-2 {
  flex-basis: 60%;
  background-color: chartreuse;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  background-color: cadetblue;
}

.tab-titles {
  display: flex;
  
  margin: 20px 0px;
  background-color: chocolate;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: black;
  background-color: aqua;
}

.tab-links:hover {
  color: green;
}

.tab-contents {
  display: none;
}

.active-link {
  display: block;
}

.tab-contents ul {
  display: flex;
  flex-direction: column;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0px;
}

.tab-contents ul li span {
  color: red;
  font-size: 14px;
}

/* /About */
