* {
  margin: 0;
  padding: 0;
  /* font-family: Brush Script MT; */
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  /* background-color: rgb(41, 41, 41);
  color: white; */
}

#header {
  width: 100%;
  height: 100vh;
  /* background-image: url(images/background.img); */
  /* background-size: cover; */
  /* background-position: center; */
}

#container {
  height: 100%;
}

/* Navigation*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 5%;
  background-color: white;
}

ul {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 10px 20px;
}

nav ul li :hover {
  color: green;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

/* /Navigation */

.header-text {
  margin: 10% 50px;
  padding: 50px;
  font-size: 30px;
}

.header-text h1 {
  margin-top: 20px;
  font-size: 60px;
}

.header-text h1 span {
  color: rgb(93, 235, 93);
}

/* About */
#about {
  padding: 80px 100px;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}

.about-col-1 {
  flex-basis: 35%;
  height: 100%;
}

.about-col-1 img {
  width: 100%;
  height: 100%;
  border-radius:10px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
}

.tab-titles {
  display: flex;
  margin: 20px 0px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: black;
}

.tab-links:hover {
  color: green;
}

.tab-contents {
  display: none;
}

.active-tab {
  display: block;
}

.tab-contents ul {
  display: flex;
  flex-direction: column;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0px;
}

.tab-contents ul li span {
  color: red;
  font-size: 14px;
}

/* /About */

/* Projects */
.projects {
  height: 100vh;
  padding: 20px;
}
.project {
  display: flex;
  padding: 50px;
  gap: 50px;
}
.project-1 {
  width: 33%;
  height: 60vh;
  border: 1px solid black;
  border-radius: 20px;
  padding: 40px;
}
.project-1 h3 {
  text-align: center;
}
.project-1 img {
  height: 130px;
  width: 300px;
  border: 1px solid black;
  margin: 10px;
}

/* /Projects */
/* Contacts */
.contacts {
  height: 100vh;
  display: flex;

}

.contactcontent {
  width: 50vw;
  padding: 100px;
}
.social {
  height: 50px;
  width: 200px;
  background-color: red;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  gap: 10px;
}
.social div {
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 5px;
}
.contactform {
  width: 50vw;
  padding: 80px;
}
.contactform form {
  display: grid;
  grid-template-columns: 1fr;
  /* one clean column */
  gap: 15px;
  /* spacing between fields */
  width: 350px;
  /* keeps everything aligned */
}
.form-group {
  display: flex;
  flex-direction: column;
}
.contactform input,
.contactform textarea {
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  width: 100%;
  /* this ensures perfect alignment */
  margin-top: 5px;
}
.contactform textarea {
  height: 150px;
}
.contactform button {
  width: 150px;
  height: 45px;
  border-radius: 50px;
  border: none;
  background: green;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.contactform button:hover {
  background: darkgreen;
}
/* /Contacts */